---
import DashboardLayout from "../../layouts/DashboardLayout.astro";

import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";

dayjs.extend(relativeTime);

const inXhrs = (x?: number) =>
  dayjs()
    .add(x || Math.floor(Math.random() * 100), "hour")
    .toDate();

const appointments = [
  {
    name: "Dr. John Doe",
    time: inXhrs(1),
    type: "Dietecian",
    status: "pending",
  },
  {
    name: "Dr. Mark Henry",
    time: inXhrs(73),
    type: "Dietecian",
    status: "pending",
  },
  {
    name: "Dr. Vivek Bindal",
    time: inXhrs(),
    type: "Dietecian",
    status: "pending",
  },
];
---

<DashboardLayout>
  <div
    class="text-sm text-nowrap p-4 pb-2 font-bold text-neutral-500 uppercase"
  >
    Appointments
  </div>
  <ul class="space-y-2 px-5">
    {
      appointments.map(({ name, time }) => (
        <li>
          <a
            href="/chats/doctor"
            class="block rounded-md border border-sky-500 p-2 text-neutral-600 shadow-md transition-shadow hover:shadow-lg"
          >
            <div class="flex items-center justify-between">
              <div class="block text-xs font-semibold uppercase">{name}</div>
              <div class="block text-xs font-medium">
                {dayjs(time).fromNow()}
              </div>
            </div>
            <span class="text-sm text-green-600">
              at {dayjs(time).format("h:mm A")}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</DashboardLayout>
