---
import pb from '@/lib/pb'
import Base from '@/layouts/Base.astro'
if (!pb.authStore.model) return Astro.redirect('/signin')
const user = pb.authStore.model
---

<Base>
  <nav>
    <ul>
      <li><h1>Amulet</h1></li>
    </ul>
    <ul>
      <li><a href='#'>Notes</a></li>
      <li><a href='#'>Doubts</a></li>
      <li><a href='#'>Schedule</a></li>
      <li><a href='#'>Assignments</a></li>
      <li>
        <details class='dropdown'>
          <summary> Account</summary>
          <ul dir='rtl'>
            <li><a href='/profile'>Profile</a></li>
            <li><a href='/settings'>Settings</a></li>
            <li><a href='/signout'>Logout</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
  <article>
    {JSON.stringify(user)}
  </article>
</Base>
