---
import pb from '@/lib/pb'
import Base from '@/layouts/Base.astro'
if (!pb.authStore.model) return Astro.redirect('/signin')
const user = pb.authStore.model
---

<Base>
  <nav>
    <ul>
      <li><strong>Amulet</strong></li>
    </ul>
    <ul>
      <li><a href='#' class='secondary'>Services</a></li>
      <li>
        <details class='dropdown'>
          <summary> Account</summary>
          <ul dir='rtl'>
            <li><a href='/profile'>Profile</a></li>
            <li><a href='/attendance'>Settings</a></li>
            <li><a href='/schedule'>Security</a></li>
            <li><a href='/signout#'>Logout</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
  <article>
    {JSON.stringify(user)}
  </article>
</Base>
